<% if (title) { %>
    <h1 id="detail-title"><%= title %></h1>
<% } else { 
    res.redirect('/') 
} %> 

<% if (message) { %>
    <p class="notice"><%= message %></p>
<% } %> 

<% if (errors) { %>
  <ul class="errors">
    <% errors.array().forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form class="account-form" action="/client/login" method="post">
    <label>Email:<br>
      <input 
        type="email" 
        placeholder="john.smith@email.com" 
        class="text-input" 
        name="client_email" 
        required
        value="<%= locals.client_email == "@" ? "" : locals.client_email %>"
      >
    </label>
    <label for="client_password">Password:</label>
    <span id="password-requirements">
      *Passwords must be at least 12 characters and contain at least 1 capital
      letter, 1 number, and 1 special character.
    </span>
    <input 
      type="password" 
      placeholder="Password"
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      class="text-input" 
      name="client_password" 
      id="client_password"
      required
    />
    <input type="submit" value="Login">
    <div id="sign-up-link">No account? <a href="/client/register">Sign up</a></div>
</form>