<header id="top-header">
  <div id="title-tools">
    <span class="siteLink">
      <a href="/" class="homelink" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <span class="accountLink">
        <a id="account" href="/client/login">My Account</a>
      </span>
    </div>
  </div>
</header>
