<% if (title) { %>
    <h1 id="detail-title"><%= title %></h1>
<% } else { 
    res.redirect('/') 
} %> 

<% if (message) { %>
    <p class="notice"><%= message %></p>
<% } %> 

<a class="management-link" href="../../inv/add-classification">Add new classification</a><br>
<a class="management-link" href="../../inv/add-vehicle">Add new vehicle</a>
<h2>Manage Vehicles</h2>
<p class="management-instruction">Select a classification to view vehicles</p>
<div class="classification-dropdown-container"><%- classificationSelect %></div>
<table id="inventory-display"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>