<% if (title) { %>
    <h1 id="detail-title"><%= title %></h1>
<% } else { 
    res.redirect('/') 
} %> 

<% if (message) { %>
    <p class="notice"><%= message %></p>
<% } %> 

<a class="management-link" href="../../inv/add-classification">Add new classification</a><br>
<a class="management-link" href="../../inv/add-vehicle">Add new vehicle</a>